{% extends 'troquetout_app/base.html' %}
{% load static %}

{% block title %}Définir un Nouveau Mot de Passe{% endblock %}

{% block content %}
<main class="flex-grow container mx-auto px-4 py-8 flex items-center justify-center">
    <section class="max-w-md w-full bg-surface rounded-lg p-8 shadow-lg glass-effect">
        <h2 class="text-4xl font-bold text-accent text-center mb-6">Définir un Nouveau Mot de Passe</h2>
        
        {% if validlink %}
            <p class="text-text-dark text-center mb-6">Veuillez entrer votre nouveau mot de passe deux fois pour confirmation.</p>
            <form method="post" class="space-y-4">
                {% csrf_token %}
                
                {% for field in form %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block text-text-light text-sm font-bold mb-2">{{ field.label }}:</label>
                        <input type="{{ field.field.widget.input_type }}" 
                               name="{{ field.name }}" 
                               id="{{ field.id_for_label }}"
                               class="shadow appearance-none border rounded w-full py-3 px-4 text-text-dark leading-tight focus:outline-none focus:shadow-outline bg-gray-700 border-gray-600 placeholder-gray-400"
                               placeholder="{{ field.label }}"
                               {% if field.value %}value="{{ field.value }}"{% endif %}
                               {% if field.field.required %}required{% endif %}>
                        
                        {% if field.help_text %}
                            <p class="text-text-dark text-xs italic mt-1">{{ field.help_text }}</p>
                        {% endif %}
                        {% for error in field.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                
                <button type="submit" class="w-full bg-primary text-white py-3 px-4 rounded-lg font-bold hover:bg-secondary transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50">
                    Changer mon mot de passe
                </button>
            </form>
        {% else %}
            <p class="text-red-500 text-center mb-6">
                Le lien de réinitialisation de mot de passe était invalide, peut-être parce qu'il a déjà été utilisé.
                Veuillez demander une nouvelle réinitialisation de mot de passe.
            </p>
            <div class="mt-6 text-center">
                <a href="{% url 'password_reset' %}" class="inline-block bg-primary text-white py-3 px-6 rounded-lg font-bold hover:bg-secondary transition-colors duration-300">
                    Demander une nouvelle réinitialisation
                </a>
            </div>
        {% endif %}
    </section>
</main>
{% endblock content %}